.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    /* background-color: #e0e0e0; */
}

.cell {
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 30px;
    height: 40vh;
}

.cell-Title{
    text-align: center;
    height: 5vh;
    background-color: black;
    color:white
    
}

.cell-body {
    display: flex;            /* Turn on flexbox */
    flex-direction: column;   /* Stack children vertically */
    justify-content: center;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
    text-align: center;
    height: 32.2vh;
    background-color: white;
}



.monitoring-button{
    font-size: 20px;
    border-radius: 5px;
    background-color: #628fca;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.monitoring-button:hover{
    color: white;
  }

.boldText {
    font-size: 40px;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .execution-state {
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin-left: 20px;
    background-color: #323131;
    border: 2px solid rgb(0, 0, 0);
    color:white;

  }
  
  .execution-time {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    
    background-color: #323131;
    border: 2px solid rgb(0, 0, 0);
    color:white;
  }

.singleData-metric{
    font-size: 60px;
}

.cell-Title-Metrics {
    text-align: center;
    height: 5vh;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.cell-Metrics{
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 30px;
    height: 40.2vh;
    display: flex;
    flex-direction: column;
}

.cell-generalMetrics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    height: 32.7vh;
    background-color: white;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.execution-info {
    text-align: center; /* Center the execution info text */
  }
  
.execution-times {
    display: flex; /* Use flexbox for the two columns */
    justify-content: space-around; /* Space out the columns */
    text-align: center;
    width: 80%; /* Set width to fill the parent container */
    height: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%; 
}

.label-top-center {
    position: absolute; /* Position it relative to the browser window */
    top: 0; /* Align it to the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Offset it by half its width to truly center it */
    font-weight: bold; /* Make the font bold */
    /* Add additional styling as needed */
    padding: 10px; /* Add some padding for aesthetic spacing */
    font-size: 16px; /* You can set the font-size as needed */
  }